$navTabBottom: 15px;
$orderTotalLeftAlign: -30px;

.nav-tabs {
    margin-bottom: $navTabBottom;
}

#addDelivery table {
    .td_Operation {
        width: 5%;

        .fa-stack .fa-times {
            color: #808080;
            font-size: larger;
        }

        .fa-times:hover:before {
            content: "\f057";
            color: #c33;
            font-size: x-large;
        }
    }

    .td_index {
        width: 5%;
    }

    .td_productName {
        width: 40%;
    }

    .td_unitPrice {
        width: 10%;
    }

    .td_qty {
        width: 10%;
    }

    .td_subTotal {
        width: 30%;
    }
}
