@using YueShanp.Models

@{
    var customerList = (List<Customer>)ViewData[nameof(DeliveryIndexViewModel.CustomerList)];
}

<div id="addDelivery">
    <!--Add Delivery-->
    <form role="form">
        <div class="row">
            <!-- Add Delivery Basic Info -->
            <div class="col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>客戶名稱</label>
                            <input type="text" class="form-control" list="customerNameList" required ng-model="selectCustomer" />
                            @*TODO 客戶名稱驗證*@
                            <datalist id="customerNameList">
                                @foreach (var customer in customerList)
                                {
                                    <option value="@customer.Name"></option>
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>送貨單編號</label>
                            <input type="number" class="form-control" value="" required ng-model="deliveryOrderNumber" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>送貨日期</label>
                                <drcalander name="startdaycal" format="{{format}}" datemodel="deliveryDate"></drcalander>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>帳款月份</label>
                            <input type="number" class="form-control" value="" placeholder="10505" required ng-model="accountMonth" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <label>快速動作</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @*<button type="button" role="button" class="btn btn-default">尋找其他送貨單</button>*@
                        <button type="button" role="button" class="btn btn-default">新增品項</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>項次</th>
                        <th>品名</th>
                        <th>單價</th>
                        <th>數量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in ProductList">
                        <td class="td_Operation">
                            <a ng-click="RemoveProduct($index)">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-times fa-stack-1x"></i>
                                </span>
                            </a>
                        </td>
                        <td class="td_index">{{$index +1}}</td>
                        <td class="td_productName">
                            <input type="text" class="form-control input-sm" list="productNameList" ng-model="product.ProductName" />
                            <datalist id="productNameList">
                                @*TODO repeater*@
                                <option value="EB212004 AMP插座4P  1-178314-2(9.2)"></option>
                                <option value="EV749A00  112cm (05.04)"></option>
                                <option value="EB222010 AMP插座1-178288-8(03.09)"></option>
                                <option value="EB242020 AMP插座 178289-8 (9.2)"></option>
                            </datalist>
                        </td>
                        <td class="td_unitPrice">
                            <input type="number" class="form-control input-sm" value="" ng-model="product.UnitPrice" />
                        </td>
                        <td class="td_qty">
                            <input type="number" class="form-control input-sm" min="1" max="9999" maxlength="4" ng-model="product.Qty" />
                        </td>
                        <td class="td_subTotal">
                            @*TODO money filter*@
                            <span class="subTotal">{{product.UnitPrice * product.Qty | currency}}</span>
                        </td>
                    </tr>
                    <tr class="table_bottomRow">
                        <td colspan="5">
                            <button ng-click="AddProduct()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </td>
                        <td class="orderTotal">
                            @*TODO money filter*@
                            總計：<span>{{getOrderTotalAmount() | currency}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-primary">預覽</button>
                    <button class="btn btn-primary">儲存</button>
                    <button class="btn btn-primary">儲存並新增</button>
                </div>
            </div>
        </div>
    </form>
</div>