
@{
    ViewBag.Title = "DeliveryIndex";
}

<h2>DeliveryIndex</h2>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#queryDelivery">查詢</a></li>
        <li><a href="#addDelivery">新增</a></li>
        <li><a href="#monthDelivery">月結單</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="queryDelivery">
            @QueryDelivery()
        </div>
        <div role="tabpanel" class="tab-pane" id="addDelivery">
            @AddDelivery()
        </div>
        <div role="tabpanel" class="tab-pane" id="monthDelivery">
            @MonthDelivery()
        </div>
    </div>
</div>



@helper QueryDelivery()
{
    <div class="row">
        <div class="col-lg-12">
            查詢出貨單
        </div>
    </div>
}

@helper AddDelivery()
{
    <div class="row">
        <div class="col-lg-12">
            新增出貨單
        </div>
    </div>
}

@helper MonthDelivery()
{
    <div class="row">
        <div class="col-lg-12">月結報表</div>
    </div>
}


