@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>裕上企業</h1>
    <p class="lead">專營線材加工，各式端子買賣</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>快速交付</h2>
        <p>能盡速完成專業線材加工出貨，與廠商長期配合。</p>
    </div>
    <div class="col-md-4">
        <h2>專業品質</h2>
        <p>專業的線材加工技術，出廠品質有一定的水準。</p>
    </div>
    <div class="col-md-4">
        <h2>客製服務</h2>
        <p>針對不同的需求，規格，線材材料，皆能配合製作。</p>
    </div>
</div>