@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>裕上企業</h1>
    <p class="lead">專營線材加工，各式端子買賣</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>快速交付</h2>
        <p>
            能夠在短時間完成配合廠商需要的加線材。
        </p>
    </div>
    <div class="col-md-4">
        <h2>品質專業</h2>
        <p>專業嚴謹的測試流程，確保高質量產出不傷機台。</p>
    </div>
    <div class="col-md-4">
        <h2>客製服務</h2>
        <p>針對不同的需求，規格，線材材料，皆能配合製作。</p>
    </div>
</div>