@using YueShanp.Models 

@model Product

@{
    Layout = null;
}

<div class="modal-dialog" role="document" ng-controller="_ModalAddProduct">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="ModalPrePrintDeliveryOrderLabel">新增品項</h4>
        </div>
        <div class="modal-body">
            <form class="form-list" role="form">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-label">@Html.DisplayNameFor(model => model.Name)</div>
                            <div class="form-content">
                                <div class="form-box">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">新增</button>
        </div>
    </div>
</div>